img {
  width: 200px;
  height: 200px;
  z-index: 3px;
  background-color: rgba(255, 255, 255, 0);
}
.card {
  border: 10px yellow solid;
  border-radius: 5px;
  overflow: hidden;
  min-width: 300px;
  max-width: 320px;
  min-height: 500px;
  max-height: 800px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.315);
  background-image: url(../../img/old_paper-texture.jpg);
  position: relative;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: block;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(142, 47, 206, 0.505);
    z-index: -1;
  }

  &-header__colummn {
    display: flex;
    flex-direction: row;
  }
  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
  }
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
