:root {
  --color--black: #232323;
  --color--white: #ffff;
  --color--back-violet: #633177;
  --color--back-orange: #f8ca67;
  --color--back-green: #63c44b;
  --color--back-beash: #f3dfb0;
  --color--ball-red: #cd361f;
  --color--button-blue: #5353d6;
  --color--type-grandian: linear-gradient(
    45deg,
    #dc4a5e 0%,
    #6b273b 30%,
    #97558d 60%,
    #6b273b 100%
  );
  --stroke-width: 6px;
}
