body {
  background-color: var(--color--back-orange);
  width: 100%;
}
h1 {
  text-transform: uppercase;
  background: var(--color--type-grandian);
  background-clip: text;
  -webkit-text-stroke: var(--stroke-width) transparent;
  color: var(--color--white);
}

.header {
  background-color: var(--color--back-beash);
}
.search-bar {
  border: 5px yellow solid;
  &__form-submit {
    color: var(--color--black);
    background-color: var(--color--back-green);
  }
}
