{{#if true}}

  <div class="list-inputs">

    <h2 class="list-inputs__input"><img
        src="/img/poke-input.png"
        alt="pokeball"
        class="list-inputs__img"
      />
      {{pokemon.id}}
      {{pokemon.nombre}}</h2>
  </div>

{{else}}
  <h2>Not conecte</h2>
{{/if}}